<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>A little about us</h4>
      <h1>Who are we?</h1>
      <p>Temple Formula Racing (TFR) is a student-governed organization within Temple
        University's College of Engineering focusing to provide students with real-world
        automotive engineering experience. Our talented design team is tasked each year to
        fund, prototype and construct a formula style racecar, which enters into an annual
        Formula SAE International competition. This year our team will be competing in
        Nebraska from June 17-20 with schools from across the world. Our organization is
        open to all undergraduate Temple students, no matter your declared major!</p>
  </div>
</div>
