$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
    max-height: $parallax-window-height;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

.parallax-static-content {
    color: $text-color;
    padding: 10em 0;
    position: relative;
    z-index: 8;
}

.parallax-background {
    background-image: url("../assets/CarTop2016.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 65%;
    background-color: $background-color;
    height: $parallax-background-height;
    left: 0;
    position: absolute;
    top: - $parallax-window-height / 10;
    width: 100%;

    @include media-query($on-palm){
        background-size: 150%;
    }
}

// Based on http://codepen.io/skeurentjes/
